<h1>Bienvenido al sistema de muetreos</h1>

<p><h2>Primer proyecto programado Requerimentos de Software</h2></p>
<p><h3>Integrantes</h3></p>
<p>Jeremy live</p>
<p>Carlos Gomez</p>
<p>Gerardo Gutierres</p>
<%= button_to 'Iniciar', proyectos_path, method: :get %><br>