<h1>Iniciaste session FELICIDADES</h1>

<p>Find me in app/views/index/home.html.erb</p>

<p>Ah sacar 100 en esta progra companeros</p>
<%= button_to 'Proyectos', proyectos_path, method: :get %><br>
<%= button_to 'Salir', destroy_user_session_path,method: :get%>