<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @observacion.descripcion %>
</p>

<%= link_to 'Edit', edit_observacion_path(@observacion) %> |
<%= link_to 'Back', observacions_path %>
