<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @observacion.descripcion %>
</p>
<% if(current_user.permission > 0) %>
<%= link_to 'Edit', edit_observacion_path(@observacion) %> |
<% end %>
<%= link_to 'Back', muestras_path %>
